body{
    padding-top: 30px;
    padding-left: 20px;
}
.image{
    width: 345px;
    height: 500px;
}
.btn{
    width: 300px;
    height: 70px;
    background-color: #fac32a;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    color: #fff;
    margin-left: 10px;

}