* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
body{
  background-image: url("../assets/header-background.gif");
  background-origin: padding-box;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: #40210b !important;
    background-attachment: scroll;
    background-clip: border-box;

}
#header-background{
  width: 100%;
  padding-left: 35px;
  padding-top: 4%;
}
.logo{
  margin-top: 2%;
}
.logo1{
  height: 160px;
  padding-left: 20px;
}
.container{
  text-align: center;
  padding-top: 20px;
}
.bottom{
  width: 390px;
  height: 200px;
}
.game {
   
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .score {
    display: flex;
    justify-content: space-between;
    width: 65%;
    padding-top: 510px;
    margin-left: -30px;
    text-align: center;
    color: #fff;
  }
  
  .score p {
    text-align: center;
    padding-top: 5%;
    font-size: 25px;
  }
  
  h2 {
    font-size: 30px;
    color: #fcab4c;
  }
  .match {  
    position: absolute;
    top: 46%;
        left: 50%; 
    transform: translate(-50%, -50%);
  }
  .match__title {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
    font-size: 30px;
    color: #fcab4c;
  }
  .hands {
    justify-content: space-around;
    width: 300px;
  }
  .p-hand{
    width: 100px;
    margin-right: 95px;
    border-radius: 50%;
  }
  .c-hand {
    transform: rotateY(180deg);
    width: 100px;
    border-radius: 50%;
  }
  .fadeIn {
    opacity: 1;
    pointer-events: all;
  }
  .options {
    justify-content: center;
    padding-top: 45px;
    padding-top: 30px;
  }
  .button{
    border: none;
    width: 90px;
    height: 80px;
    border-radius: 50%;
    font-size: 20px;
    background-color: #d9a779;
  }
  .user-score{
    padding-right: 80px;
  }
  .computer-score{
    margin-left: -20px;
  }
  #reset{
    width: 90px;
    border-radius: 20%;
    height: 70px;
    border: none;
    font-size: 20px;
    background-color: #d9a779;
  }
  .LastButton{
    padding-top: 80px;
    }
  